---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?api_key=<movies_api_key>&page=1&primary_release_date.gte=2021-06-01&sort_by=vote_average.desc&vote_count.gte=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/iQFcwSGbZXMkeyKrxbPnwnRo5fl.jpg","genre_ids":[28,12,878],"id":634649,"original_language":"en","original_title":"Spider-Man:
        No Way Home","overview":"Peter Parker is unmasked and no longer able to separate
        his normal life from the high-stakes of being a super-hero. When he asks for
        help from Doctor Strange the stakes become even more dangerous, forcing him
        to discover what it truly means to be Spider-Man.","popularity":17656.865,"poster_path":"/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg","release_date":"2021-12-15","title":"Spider-Man:
        No Way Home","video":false,"vote_average":8.4,"vote_count":6786},{"adult":false,"backdrop_path":"/tutaKitJJIaqZPyMz7rxrhb4Yxm.jpg","genre_ids":[35,16,10751,10402],"id":438695,"original_language":"en","original_title":"Sing
        2","overview":"Buster and his new cast now have their sights set on debuting
        a new show at the Crystal Tower Theater in glamorous Redshore City. But with
        no connections, he and his singers must sneak into the Crystal Entertainment
        offices, run by the ruthless wolf mogul Jimmy Crystal, where the gang pit[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?api_key=<movies_api_key>&page=2&primary_release_date.gte=2021-06-01&sort_by=vote_average.desc&vote_count.gte=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":"/6viJBbovWxJYavdjPy7UPTLvaOS.jpg","genre_ids":[9648,27],"id":591275,"original_language":"en","original_title":"Fear
        Street: 1666","overview":"In 1666, a colonial town is gripped by a hysterical
        witch-hunt that has deadly consequences for centuries to come, and it''s up
        to teenagers in 1994 to finally put an end to their town''s curse, before
        it''s too late.","popularity":78.967,"poster_path":"/rmEPtz3Ufzol2VWUAZYzOFaBio3.jpg","release_date":"2021-07-14","title":"Fear
        Street: 1666","video":false,"vote_average":7.3,"vote_count":1011},{"adult":false,"backdrop_path":"/7jpj6ek9dftr3IXm7Pnq[...]
