---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<movies_api_key>&page=1&query=Spider
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/iQFcwSGbZXMkeyKrxbPnwnRo5fl.jpg","genre_ids":[28,12,878],"id":634649,"original_language":"en","original_title":"Spider-Man:
        No Way Home","overview":"Peter Parker is unmasked and no longer able to separate
        his normal life from the high-stakes of being a super-hero. When he asks for
        help from Doctor Strange the stakes become even more dangerous, forcing him
        to discover what it truly means to be Spider-Man.","popularity":7902.493,"poster_path":"/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg","release_date":"2021-12-15","title":"Spider-Man:
        No Way Home","video":false,"vote_average":8.4,"vote_count":7810},{"adult":false,"backdrop_path":"/zp33lkXqcZWyr7iMxzt3lNDtcPv.jpg","genre_ids":[14,28],"id":557,"original_language":"en","original_title":"Spider-Man","overview":"After
        being bitten by a genetically altered spider at Oscorp, nerdy but endearing
        high school student Peter Parker is endowed with amazing powers to become
        the superhero known as Spider-Man.","popularity":204.653,"poster_path":"/gh4cZbhZxyTbgxQPxD0dOudNPTn.jpg","release_date":"2002-05-01","title":"Spider-Ma[...]
