---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<movies_api_key>&page=1&query=Phoenix
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/6H0CfLRcgq0Pcq34wNypC2V3W41.jpg","genre_ids":[878,28,12],"id":320288,"original_language":"en","original_title":"Dark
        Phoenix","overview":"The X-Men face their most formidable and powerful foe
        when one of their own, Jean Grey, starts to spiral out of control. During
        a rescue mission in outer space, Jean is nearly killed when she''s hit by
        a mysterious cosmic force. Once she returns home, this force not only makes
        her infinitely more powerful, but far more unstable. The X-Men must now band
        together to save her soul and battle aliens that want to use Grey''s new abilities
        to rule the galaxy.","popularity":66.961,"poster_path":"/kZv92eTc0Gg3mKxqjjDAM73z9cy.jpg","release_date":"2019-06-05","title":"Dark
        Phoenix","video":false,"vote_average":6,"vote_count":5030},{"adult":false,"backdrop_path":"/sO2VWeJ8qagNtYoznyLRL8TeSkw.jpg","genre_ids":[12,14,9648],"id":675,"original_language":"en","original_title":"Harry
        Potter and the Order of the Phoenix","overview":"The rebellion begins! Lord
        Voldemort has returned, but the Ministry of Magic is doing everything it can
        to keep the wizarding world from knowing the truth – including appointing
        Ministry official Dolores Umbridge as the new Defence Against the Dark Arts
        pr[...]
