---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?api_key=<movies_api_key>&page=1&primary_release_date.gte=2021-06-01&sort_by=vote_average.desc&vote_count.gte=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/iQFcwSGbZXMkeyKrxbPnwnRo5fl.jpg","genre_ids":[28,12,878],"id":634649,"original_language":"en","original_title":"Spider-Man:
        No Way Home","overview":"Peter Parker is unmasked and no longer able to separate
        his normal life from the high-stakes of being a super-hero. When he asks for
        help from Doctor Strange the stakes become even more dangerous, forcing him
        to discover what it truly means to be Spider-Man.","popularity":7902.493,"poster_path":"/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg","release_date":"2021-12-15","title":"Spider-Man:
        No Way Home","video":false,"vote_average":8.4,"vote_count":7810},{"adult":false,"backdrop_path":"/tutaKitJJIaqZPyMz7rxrhb4Yxm.jpg","genre_ids":[35,16,10751,10402],"id":438695,"original_language":"en","original_title":"Sing
        2","overview":"Buster and his new cast now have their sights set on debuting
        a new show at the Crystal Tower Theater in glamorous Redshore City. But with
        no connections, he and his singers must sneak into the Crystal Entertainment
        offices, run by the ruthless wolf mogul Jimmy Crystal, where the gang pit[...]
[...]
