---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/497698?api_key=<movies_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 3325b959157d43069d6ebbf39f1c2ac1a5db5ff0
      X-Memc-Age:
      - '2934'
      X-Memc-Expires:
      - '12798'
      Etag:
      - W/"5534a927d574cf6cda7e0638e717b18e"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/keIxh0wPr2Ymj0Btjh4gW7JJ89e.jpg","belongs_to_collection":null,"budget":200000000,"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":878,"name":"Science
        Fiction"}],"homepage":"https://www.marvel.com/movies/black-widow","id":497698,"imdb_id":"tt3480822","original_language":"en","original_title":"Black
        Widow","overview":"Natasha Romanoff, also known as Black Widow, confronts
        the darker parts of her ledger when a dangerous conspiracy with ties to her
        past arises. Pursued by a force that will stop at nothing to bring her down,
        Natasha must deal with her history as a spy and the broken relationships left
        in her wake long before she became an Avenger.","popularity":475.6,"poster_path":"/qAZ0pzat24kLdO3o8ejmbLxyOac.jpg","production_companies":[{"id":420,"logo_path":"/hUzeosd33nzE5MCNsZxCGEKTXaQ.png","name":"Marvel
        Studios","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2021-07-07","revenue":378328978,"runtime":134,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Russian","iso_639_1":"ru","name":"Pусский"}],"status":"Released","tagline":"Her
        world. Her secrets. Her legacy.","title":"Black Widow","video":false,"vote_average":7.5,"vote_count":6878}'
  recorded_at: Thu, 03 Feb 2022 02:28:02 GMT
recorded_with: VCR 6.0.0
